html, body {
    margin: 0;
    padding: 0;
}
.register {
    background-color: #9fffcb;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .register-card {
    background-color: rgb(146, 127, 255);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 380px;
    width: 600px;
    border-radius: 20px;
} 
.register-left {
    width: 300px;
    height: 100%;
    background-color: #25a18e;
    border-radius: 20px 0 0 20px;
    padding: 0 10px;
}
.register-left h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    color: white;
}
.register-left p {
    text-align: justify;
    font-size: 13px;
    padding: 0 10px;
    color: white;
    padding-bottom: 20px;
}
.register-left h6 {
    text-align: justify;
    font-size: 13px;
    padding: 0 10px;
    margin-bottom: 5px;
    color: white;
}
.register-left button {
    margin: 0 10px;
    text-align: center;
    color: #25a18e;
    font-size: 13px;
    font-weight: 700;
    border: none;
    width:178px;
    cursor: pointer;
    padding: 3px;
}
.register-right {
    width: 300px;
    padding: 0 10px;
    height: 100%;
    background-color: white;
    border-radius:0 20px 20px 0;
}
.register-right h1 {
    font-size: 25px;
    color: #25a18e;
    font-weight: 800;
    padding-top: 10px;
    margin-bottom: 40px;
}
.register-right form{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.register-right form input{
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}
.register-right form button{
    text-align: center;
    background-color: #25a18e;
    color: white;
    font-size: 13px;
    font-weight: 700;
    border: none;
    width:240px;
    padding: 4px;
    cursor: pointer;
}

