 .profile-page{
   /* background-color: white;*/
   margin:0 10px;
} 
.cover-img{
    position: relative;
}
.cover-img img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.profile-img{
    position: absolute;
    top: 230px;
    left: 480px;
    border: 8px solid white;
    border-radius: 100px;
}
.profile-img img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-images {
    margin-bottom: 10px;
}
.profile-settings {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    color: #25a18e;
    font-weight: 800;
}
.profile-header .left{
    display: flex;
    align-items: center;
    gap: 45px;

}
.profile-header .right{
    gap: 45px;
    display: flex;
    align-items: center;
}
.profile-name{
    font-weight: 800;
    text-align: center;
    font-size: 20px;
}
.profile-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
}
.profile-infos{
color: gray;
padding-top: 20px;
}
.user-position{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-position p{
    margin: 0;
    padding: 0;
}
.user-location{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-add-post{
    border-left: 1px solid rgb(206, 205, 205);
    padding-left: 30px;
}
.profile-add-post .header {
    display: flex;
}
.profile-add-post .content{
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(190, 190, 190);
    width: 420px;
    height: 70px;
    margin-bottom: 10px;
}
.profile-add-post .content img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}
.profile-add-post .content input{
    outline: none;
    width: 370px;
    border: none;
    font-size: 13px;
    height: 50px;
    background-color: transparent;
}
.profile-add-post .bottom{
    padding-left: 268px;
    display: flex;
    align-items: center;
    gap: 5px;
} 
.profile-add-post .bottom button{
    background-color: #25a18e;
    color: white;
    border: none;
    padding: 3px 10px;
    font-weight: 500;
    cursor: pointer;
}
.profile-add-post .bottom select{
    background-color: #cbcecd;
    border: none;
    outline: none;
    padding: 2px 0;
    cursor: pointer;
}