.theme-dark{
  .navbar{
    background-color: #222;
    color: rgb(240, 246, 252);
    border-color: #444;
    .leftNavbar p{
      color: white;
    }
    .iconColor{
      color: white;
    }
    .search input{
      color: #25a18e;
    }
  }
   .leftBar-container{
    background-color: #222;
    color: rgb(240, 246, 252);
    .separation-border{
      border-color: #444;
    }    
  }
 .rightBar{
    color: rgb(240, 246, 252);
    background-color: #333;
    .item{
      background-color: #222;
    }
  } 
  .outlet{
    background-color: #333;
    color: white;
    .post{
      background-color: #222;
    }
    .write-comment input{
      background-color: #222;
      color: white;
    }
    .profile-page .profile-settings {
      background-color: #222;
      .profile-header{
        color: #89ffbe;
      }
    }
  }
}
.theme-light {
  .outlet{
    background-color: rgba(247, 245, 245, 0.884);
  }
}
